streamlit==1.51.0
langchain==1.0.5
langchain-openai==1.0.2
openai==1.58.1
tiktoken
aiohttp
langsmith
markdown-it-py
markupsafe
mdurl
multidict
numpy
yarl
watchdog
urllib3
tzdata
tenacity
toml
toolz
tornado
tqdm
typing-extensions
sqlalchemy
sniffio
smmap
six
rpds-py
rich
requests     
regex
referencing
pyyaml
pytz
python-dateutil
pygments
pydeck
pydantic
pyarrow
protobuf
pillow
pandas
orjson
packaging
