streamlit
langchain
openai
tiktoken
aiohttp
langchain-openai
langsmith
markdown-it-py
markupsafe
mdurl
multidict
numpy
yarl
watchdog
urllib3
tzdata
tenacity
toml
toolz
tornado
tqdm
typing-extensions
sqlalchemy
sniffio
smmap
six
rpds-py
rich
requests          
regex
referencing
pyyaml
pytz
python-dateutil
pygments
pydeck
pydantic
pyarrow
protobuf
pillow
pandas
orjson
packaging

